.PegHolder {
    border-style: double;
    border-width: 10px;
}

.Peg{
    width: 20%;
    height: 50px;
    display: inline-block;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 50px;
    font-size: x-large;
    font-style: italic;
}

.Peg.black {
    background-image: url("../images/blackPeg.png");
    color: bisque;
}

.Peg.blue {
    background-image: url("../images/bluePeg.png");
}

.Peg.brown {
    background-image: url("../images/brownPeg.png");
}

.Peg.gold {
    background-image: url("../images/goldPeg.png");
}

.Peg.green {
    background-image: url("../images/greenPeg.png");
}

.Peg.orange {
    background-image: url("../images/orangePeg.png");
}

.Peg.red {
    background-image: url("../images/redPeg.png");
}

.Peg.white {
    background-image: url("../images/whitePeg.png");
}